@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div.focus > .i > svg {
  @apply fill-current text-my-primary
}

input:checked + div {
  @apply border-my-primary
}
input:checked + div svg {
  @apply block;
}
