@tailwind base;
@tailwind components;
@tailwind utilities;

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div.focus > .i > svg {
  @apply fill-current text-my-primary
}

input:checked + div {
  @apply border-my-primary
}
input:checked + div svg {
  @apply block;
}

.top-100 {top: 100%}
.bottom-100 {bottom: 100%}
.max-h-select {
    max-height: 300px;
}